{% ckan_extends %}

{% block form %}
    {% set facets = {
      'fields': g.fields_grouped,
      'search': g.search_facets,
      'titles': g.facet_titles,
      'translated_fields': g.translated_fields,
      'remove_field': g.remove_field }
    %}
    {% set sorting = [
      (_('Relevance'), 'score desc, metadata_modified desc'),
      (_('Source Data Portal'), 'extras_harvest_portal asc'),
      (_('Name Ascending'), 'title_string asc'),
      (_('Name Descending'), 'title_string desc'),
      (_('Last Modified'), 'metadata_modified desc'),
      (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
    %}
    {% snippet 'snippets/search_form.html', type='dataset', query=g.q, sorting=sorting, sorting_selected=g.sort_by_selected, count=g.local_item_count, facets=facets, show_empty=request.params, error=g.query_error, fields=g.fields %}
{% endblock %}
{% block package_search_results_list %}
    {{ h.snippet('snippets/search_fed_package_list.html', packages=g.page.items) }}
{% endblock %}
